@import url("https://fonts.googleapis.com/css2?family=Playball&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Notera";
  src: url("../assets/fonts/notera.woff") format("woff"),
    url("../assets/fonts/notera.ttf") format("truetype");
}

body {
  background-color: #f3fafd;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  box-shadow: 0px 2px 4px rgba(17, 17, 17, 0.1);
  width: -webkit-fill-available;
  background: #ffffff;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.navigation ul {
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.48);
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 20px;
}

.navigation ul li a {
  padding: 10px 20px;
}

.navigation a img + span {
  margin-left: 4px;
}

.navigation ul li + li {
  margin-left: 16px;
}

.navigation ul li:last-child a {
  color: #66b7dd;
  border: 2px solid #66b7dd;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all ease-in-out 150ms;
}

.navigation ul li:last-child:hover a {
  color: white;
  background: #66b7dd;
}

.nav-logo-text {
  font-family: Montserrat, sans-serif !important;
  font-weight: bold !important;
  color: #000 !important;
}

.nav-logo-text span {
  font-size: 20px;
}

.nav-logo-text sup {
  margin-top: -8px;
  font-size: 22px;
}

main {
  display: flex;
  padding: 36px 48px;
  min-height: calc(100vh - 82px - 76px - 36px * 2);
  /* height: 100vh - nav - footer - main padding */
}

footer {
  box-shadow: 0px -2px 4px rgba(17, 17, 17, 0.1);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0 16px;
  color: rgba(17, 17, 17, 0.48);
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 76px;
}

footer span i {
  color: red;
}

.hide {
  display: none;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: default;
  transition: all ease-in-out 200ms;
}

.loader {
  animation-name: loader;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fade {
  animation-name: fade;
  animation-name: fade;
  animation-duration: 1000ms;
  animation-timing-function: ease;
}

.toastify {
  font-family: Montserrat;
  font-size: 14px;
  padding: 12px;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  main {
    padding: 24px 16px;
  }

  .navigation {
    padding: 16px 16px;
  }

  .navigation a {
    padding: 10px 0;
  }

  .navigation ul li a {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  footer {
    font-size: 0.75rem;
  }
}
